<PolarisResourceList::Item
  @context={{@context}}
  @itemId={{itemId}}
  @url={{item.url}}
  @accessibilityLabel={{accessibilityLabel}}
>
  <h3>
    <PolarisTextStyle @variation="strong" @text={{item.name}} />
  </h3>
  <div>{{item.location}}</div>
</PolarisResourceList::Item>