<PolarisResourceList::Item
  @itemId={{itemId}}
  @url={{item.url}}
  @accessibilityLabel={{accessibilityLabel}}
  @shortcutActions={{if
    item.latestOrderUrl
    (array (hash text="View latest order" url=item.latestOrderUrl))
  }}
  @persistActions={{true}}
>
  <h3>
    <Text @as="span" @tone="strong" @text={{item.name}} />
  </h3>
  <div>{{item.location}}</div>
</PolarisResourceList::Item>