<span {{did-insert this.setRef}}></span>

<BasicDropdown
  @verticalPosition={{this.verticalPosition}}
  @renderInPlace={{@renderInPlace}}
  @onOpen={{this.open}}
  @onClose={{this.close}}
  as |dd|
>
  {{yield
    (hash
      activator=(component dd.trigger style=this.triggerStyle)
      content=(component "polaris-popover/content"
        contentComponent=dd.content
        contentClass=@contentClass
        uniqueId=dd.uniqueId
        sectioned=@sectioned
        fullWidth=@fullWidth
        fullHeight=@fullHeight
      )
      open=(fn dd.actions.open)
      close=(fn dd.actions.close)
      toggle=(fn dd.actions.toggle)
    )
  }}
</BasicDropdown>
