<div class="Polaris-PageActions {{@class}}" ...attributes>
  <PolarisStack
    @spacing="tight"
    @distribution={{if this.showSecondaryActions "equalSpacing" "trailing"}}
  >
    {{#if this.showSecondaryActions}}
      <PolarisButtonGroup>
        {{#each @secondaryActions as |SecondaryAction|}}
          {{#if (is-component-definition SecondaryAction)}}
            <SecondaryAction />
          {{else}}
            <PolarisButton
              @text={{SecondaryAction.text}}
              @disabled={{SecondaryAction.disabled}}
              @loading={{SecondaryAction.loading}}
              @destructive={{SecondaryAction.destructive}}
              @icon={{SecondaryAction.icon}}
              @onClick={{SecondaryAction.onAction}}
            />
          {{/if}}
        {{/each}}
      </PolarisButtonGroup>
    {{/if}}

    {{#if @primaryAction}}
      <PolarisButton
        @primary={{true}}
        @disabled={{@primaryAction.disabled}}
        @loading={{@primaryAction.loading}}
        @text={{@primaryAction.text}}
        @onClick={{@primaryAction.onAction}}
      />
    {{/if}}
  </PolarisStack>
</div>