<fieldset
  id={{this.finalName}}
  aria-invalid={{this.ariaInvalid}}
  aria-describedby={{this.ariaDescribedBy}}
  class="Polaris-ChoiceList
    {{@class}}
    {{if this.titleHidden 'Polaris-ChoiceList--titleHidden'}}"
  data-test-choice-list
  ...attributes
>
  {{#if @title}}
    <legend data-test-choice-list-title class="Polaris-ChoiceList__Title">
      {{render-content @title}}
    </legend>
  {{/if}}

  {{#if (has-block)}}
    {{yield
      (hash
        checkedChoices=this.checkedChoices
        name=this.finalName
        onChange=this.updateSelectedChoices
      )
    }}
  {{else}}
    <ul data-test-choice-list-choices class="Polaris-ChoiceList__Choices">
      {{#each this.checkedChoices as |choice|}}
        <li data-test-choice-list-item>
          <this.controlComponent
            @label={{choice.label}}
            @value={{choice.value}}
            @helpText={{choice.helpText}}
            @disabled={{choice.disabled}}
            @checked={{choice.isSelected}}
            @name={{this.finalName}}
            @onChange={{fn this.updateSelectedChoices choice}}
          />

          {{#if
            (and
              choice.childComponent
              (or choice.isSelected choice.alwaysRenderChildComponent)
            )
          }}
            <div class="Polaris-ChoiceList__ChoiceChildren">
              <choice.childComponent />
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if @error}}
    <div data-test-choice-list-error class="Polaris-ChoiceList__ChoiceError">
      <PolarisInlineError @message={{@error}} @fieldID={{this.finalName}} />
    </div>
  {{/if}}
</fieldset>