{{#if @hasRollup}}
  <div class="Polaris-Page-Header__Rollup">
    <PolarisPopover as |popover|>
      <popover.activator>
        {{#if (media "isMobile")}}
          <PolarisButton @text="Actions" @disclosure={{true}} />
        {{else}}
          <PolarisButton @plain={{true}} @icon="horizontal-dots" />
        {{/if}}
      </popover.activator>

      <popover.content>
        <PolarisActionList
          @items={{@secondaryActions}}
          @sections={{@actionGroupSections}}
          @onActionAnyItem={{action popover.close}}
        />
      </popover.content>
    </PolarisPopover>
  </div>
{{/if}}
